/* Main css file based on lit https://github.com/ajusa/lit */
:root {
	--font: Courier New;
	--primary: #c00;
	--foreground: #eee;
	--background: #000;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #c00;
		--foreground: #000;
		--background: #eee;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

* {
	box-sizing: border-box;
}

*+* {
	margin: .5em 0;
}

pre {
	overflow: auto
}

.row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.w-100,
.row {
	width: 100%;
}

.card:focus,
hr {
	outline: 0;
	border: solid var(--primary);
}

.card {
	padding: 1em;
	border: solid var(--foreground);
}

a {
	color: var(--foreground);
}

.primary {
	color: var(--primary);
	text-decoration: none;
}

a:hover,
.btn:hover {
	opacity: .6;
}


.btn.primary {
	color: var(--foreground);
	background: var(--primary);
	border: solid var(--primary);
}

.btn {
	padding: 1em;
	text-transform: uppercase;
	background: var(--foreground);
	border: solid;
	font: .7em var(--font);
}

.c {
	max-width: 60em;
	padding: 1em;
	margin: auto;
	font: 1em/1.6 var(--font);
}

td,
th {
	padding: 1em;
	text-align: left;
	border-bottom: solid var(--foreground);
}

h6 {
	font: 100 1em var(--font);
}

h5 {
	font: 100 1.2em var(--font);
}

h3 {
	font: 100 2em var(--font);
}

h4 {
	font: 100 1.5em var(--font);
}

h2 {
	font: 100 2.2em var(--font);
}

h1 {
	font: 100 2.5em var(--font);
}