$primary: #e01b24;
$foreground: #faebd7;
$background: #000;
$gray: #333;
$scale: min(2.3vw, 1.5rem);
$font-main: 'IBM VGA 8x16 Braille', monospace;

@mixin glow($duration) {
	animation: glow $duration ease-in-out infinite alternate;
}

@font-face {
	font-family: 'IBM VGA 8x16 Braille';
	src: url(/Px437_IBM_VGA_8x16_braille.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

* {
	box-sizing: border-box;
}

body {
	background: $background;
	color: $foreground;
	font-family: $font-main;
	font-size: 1.3rem;
	max-width: 50em;
	padding: 0 1em;
	margin: auto;
}

::selection {
	background: $primary;
	color: $foreground;
}

a {
	color: $foreground;
	text-decoration: underline dotted;

	&:hover {
		opacity: 0.6;
	}

	&.primary {
		text-decoration: none;
	}
}

.primary {
	color: $primary;
	@include glow(1.3s);
}

.gray {
	color: $gray;
}

li::marker {
	content: '• ';
	color: $primary;
}

ul,
ol {
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	text-align: center;
	margin: 0.3em auto;
}

td,
th {
	padding: 1em 0.1em;
	text-align: center;
	border-bottom: solid $primary;
}

.sidebyside {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 0.5em;
	margin: 0 auto;
	padding: 0 0.5em;
}

.webindex {
	align-items: stretch;
}

.widthtocontent {
	width: max-content;
}

.youtube-embed {
	width: 100%;
	aspect-ratio: 16 / 9;
	border: 0;
}

.card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	max-width: 15em;
	border: 0.15em outset $primary;
	margin: 0.3em auto;
	padding: 0.5em;

	a {
		text-decoration: none;
	}

	* {
		margin: auto;
		text-align: center;
	}
}

.marginalia-feed {
	max-width: 35em;
	margin: 1em auto;
}

.marginalia-post {
	padding: 0.7em 0;

	p {
		margin: 0.5em 0;
	}
}

details {
	text-align: center;
}

pre,
pre code {
	font-family: inherit;
	overflow: visible;
	color: $primary;
	display: block;
	margin: 0.5em 0;
	font-size: $scale;
	line-height: calc(#{$scale} * 0.95);
	letter-spacing: calc(#{$scale} * -0.03);
	@include glow(1.7s);
}

code[data-lang='braile'] {
	font-size: calc(#{$scale} * 1.5);
	line-height: calc(#{$scale} * 0.75);
}

@keyframes glow {
	to {
		text-shadow: 0 0 0.4em $primary;
	}
}

hr {
	border: none;
	border-top: 0.3em dotted;
}
