<header class="sidebyside">
  <a href="{{ get_url(path='/') | safe }}" class="primary">
    <pre><code data-lang="ascii">▄ •▄ •  ▄▄▌  ▄▄▌  ▄▄▄ .•  ▄ •▄      ▄▄ • ▄▄▄  •  • ▌ ▄ ·.       •  ▄▄▄  ▄▄▄ .
█▌▄▌•██ ██•  ██•  ▀▄.▀·██ █▌▄▌•    ▐█ ▀ •▀▄ █·██ ·██ ▐███•     ██ ▀▄ █·▀▄.▀·
▐▀▀▄·▐█·██•  ██•  ▐▀▀•▄▐█·▐▀▀▄·    ▄█ ▀█▄▐▀▀▄ ▐█·▐█ ▌▐▌▐█· ▄█▀▄ ▐█·▐▀▀▄ ▐▀▀•▄
▐█.█▌▐█▌▐█▌▐▌▐█▌▐▌▐█▄▄▌▐█▌▐█.█▌    ▐█▄•▐█▐█•█▌▐█▌██ ██▌▐█▌▐█▌.▐▌▐█▌▐█•█▌▐█▄▄▌
·▀  ▀▀▀▀.▀▀▀ .▀▀▀  ▀▀▀ ▀▀▀·▀  ▀    ·▀▀▀▀ .▀  ▀▀▀▀▀▀  █•▀▀▀ ▀█▄▀•▀▀▀.▀  ▀ ▀▀▀ </code></pre>
  </a>

  <nav class="sidebyside">
    <a class="primary" href="{{ get_url(path='/web/') | safe }}">Webindex</a>
    <a class="primary" href="{{ get_url(path='/marginalia/') | safe }}">Marginalia</a>
    <a class="primary" href="{{ get_url(path='/tinkering/') | safe }}">Tinkering</a>
    <a class="primary" href="{{ get_url(path='/thoughts/') | safe }}">Whispers</a>
    <a class="primary" href="{{ get_url(path='/contact/') | safe }}">Summon</a>
  </nav>
</header>
