:root {
	--primary: #e01b24;
	--foreground: #eeeee9;
	--background: #000;
	--gray: #333;
	--scale: min(2.3vw, 1.5rem);
}

@font-face {
	font-family: 'IBM VGA 8x16';
	src: url(/Px437_IBM_VGA_8x16.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Braile';
	src: url(/braille.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'IBM VGA 8x16', 'Braile', monospace;
	font-size: 1.3rem;
	max-width: 50em;
	padding: 0 1em;
	margin: auto;
}

* {
	box-sizing: border-box;
}

*+* {
	margin: 0.5em 0;
}

::selection {
	background: var(--primary);
	color: var(--foreground)
}

a {
	color: var(--foreground);
	text-decoration: underline dotted;
}

a:hover {
	opacity: 0.6;
}

.primary {
	color: var(--primary);
}

a.primary {
	text-decoration: none;
}

mark,
mark a {
	color: var(--primary);
	background: none;
}

.gray {
	color: var(--gray);
}


li::marker {
	content: '• ';
	color: var(--primary);
}

ul,
ol {
	margin: auto;
}

h1,
h2,
h3 {
	font-weight: normal;
	text-align: center;
}

td,
th {
	padding: 1em 0.1em;
	text-align: center;
	border-bottom: solid var(--primary);
}

.sidebyside {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 0.5em;
	margin: 0 auto;
	padding: 0 0.5em;
}

.widthtocontent {
	width: max-content;
}

.card {
	max-width: 15em;
	border: 0.1em outset var(--primary);
	border-radius: 0.4em;
	padding: 0.1em 0.5em;
}

article a {
	text-decoration: none;
}

details {
	text-align: center
}

pre,
code {
	margin: 0;
	font-family: inherit;
	overflow: visible;
	color: var(--primary);
	display: block;
}

code.language-ascii {
	font-size: var(--scale);
	line-height: calc(var(--scale) * 0.95);
	letter-spacing: calc(var(--scale) * -0.05);
}

code.language-braile {
	font-size: var(--scale);
	line-height: calc(var(--scale) * 0.80);
	letter-spacing: calc(var(--scale) * -0.1);
}

hr {
	border: none;
	border-top: 0.3em dotted;
}