{% extends "base.html" %}

{% block title %}<title>grimoire://game-over/</title>{% endblock title %}

{% block body %}
  {% include "partials/header.html" %}

  <article>
    <div class="sidebyside">
      <pre><code data-lang="ascii">                        :::!~!!!!!:.
                     .xUHWH!! !!?M88WHX:.
                   .X*#M@$!!  !X!M$$$$$$WWx:.
                  :!!!!!!?H! :!$!$$$$$$$$$$8X:
                 !!~  ~:~!! :~!$!#$$$$$$$$$$8X:
                :!~::!H!&lt;   ~.U$X!?R$$$$$$$$MM!
                ~!~!!!!~~ .:XW$$$U!!?$$$$$$RMM!
                  !:~~~ .:!M&quot;T#$$$$WX??#MRRMMM!
                  ~?WuxiW*`   `&quot;#$$$$8!!!!??!!!
                :X- M$$$$       `&quot;T#$T~!8$WUXU~
               :%`  ~#$$$m:        ~!~ ?$$$$$$
             :!`.-   ~T$$$$8xx.  .xWW- ~&quot;&quot;##*&quot;     ,AM   ,pP&quot;&quot;Yq.       ,AM
           -~~:&lt;` !    ~?T#$$@@W@*?$$      /`     AVMM  6W'    `Wb     AVMM
        !!! .!~~ !!     .:XUW$W!~ `&quot;~:    :     ,W' MM  8M      M8   ,W' MM
     ~~`.:x%`!!  !H:   !WM$$$$Ti.: .!WUn+!`   ,W'   MM  YA.    ,A9 ,W'   MM
   :::~:!!`:X~ .: ?H.!u &quot;$$$B$$$!W:U!T$$M~    AmmmmmMMmm `Ybmmd9'  AmmmmmMMmm
   .~~   :X@!.-~   ?@WTWo(&quot;*$$$W$TH$! `             MM                   MM
   Wi.~!X$?!-~    : ?$$$B$Wu(&quot;**$RM!                MM                   MM
   $R@i.~~ !     :   ~$$$$$B$$en:``
   ?MXT@Wx.~    :     ~&quot;##*$$$$M~
`YMM'   `MM' .g8&quot;&quot;8q. `7MMF'   `7MF'    `7MM&quot;&quot;&quot;Yb. `7MMF'`7MM&quot;&quot;&quot;YMM  `7MM&quot;&quot;&quot;Yb.
  VMA   ,V .dP'    `YM. MM       M        MM    `Yb. MM    MM    `7    MM    `Yb.
   VMA ,V  dM'      `MM MM       M        MM     `Mb MM    MM   d      MM     `Mb
    VMMP   MM        MM MM       M        MM      MM MM    MMmmMM      MM      MM
     MM    MM.      ,MP MM       M        MM     ,MP MM    MM   Y  ,   MM     ,MP
     MM    `Mb.    ,dP' YM.     ,M        MM    ,dP' MM    MM     ,M   MM    ,dP'
   .JMML.    `&quot;bmmd&quot;'    `bmmmmd&quot;'      .JMMmmmdP' .JMML..JMMmmmmMMM .JMMmmmdP'</code></pre>
    </div>
  </article>
{% endblock body %}
