<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="dark light" />
  {% if description %}
  <meta name="description" content="{{description}}" />
  {% endif %}
  <title>grimoire://{{title}}/</title>
  <link rel="icon" href="/favicon.png">
  <!-- <link rel="stylesheet" href="/css/main.css" /> -->
  <style>
  {% include "./main.css"%}
  </style>
</head>

<body>

{% include "./header.html" %}

<main class="container">

{{ content }}

</main>

{% include "./footer.html" %}

</body>
</html>
