<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="dark" />
  {% if description %}
  <meta name="description" content="{{description}}" />
  {% endif %}
  <title>grimoire://{{title}}/</title>
  <!-- <style>body{background:#000;color:#eee;font-family:monospace;font-size:1.3rem;max-width:60em;margin:auto}a,.primary{text-decoration:none;color:#e01b24}</style> -->
  <!-- <link rel="preload" href="/css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
  <!-- <noscript><link rel="stylesheet" href="/css/main.css"></noscript> -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="preload" href="/Px437_IBM_VGA_8x16.woff2" as="font">
  <link rel="icon" href="/favicon.png">
</head>

<body>

{% include "./header.html" %}

<main class="container">

{{ content }}

</main>

{% include "./footer.html" %}

</body>
</html>
