<header class="container sidebyside">
<a href="/" class="primary">
<pre class="ascii">
▄ •▄ ▪  ▄▄▌  ▄▄▌  ▄▄▄ .▪  ▄ •▄      ▄▄ • ▄▄▄  ▪  • ▌ ▄ ·.       ▪  ▄▄▄  ▄▄▄ .
█▌▄▌▪██ ██•  ██•  ▀▄.▀·██ █▌▄▌▪    ▐█ ▀ ▪▀▄ █·██ ·██ ▐███▪▪     ██ ▀▄ █·▀▄.▀·
▐▀▀▄·▐█·██▪  ██▪  ▐▀▀▪▄▐█·▐▀▀▄·    ▄█ ▀█▄▐▀▀▄ ▐█·▐█ ▌▐▌▐█· ▄█▀▄ ▐█·▐▀▀▄ ▐▀▀▪▄
▐█.█▌▐█▌▐█▌▐▌▐█▌▐▌▐█▄▄▌▐█▌▐█.█▌    ▐█▄▪▐█▐█•█▌▐█▌██ ██▌▐█▌▐█▌.▐▌▐█▌▐█•█▌▐█▄▄▌
·▀  ▀▀▀▀.▀▀▀ .▀▀▀  ▀▀▀ ▀▀▀·▀  ▀    ·▀▀▀▀ .▀  ▀▀▀▀▀▀  █▪▀▀▀ ▀█▄▀▪▀▀▀.▀  ▀ ▀▀▀ 
</pre>
</a>

{% include "./menu.part.html" %}
</header>
